# Default ignored files
.idea
.pytest_cache
processing/gpt_api_key.py
.env
.conda
credentials.json
token.json
__pycache__
classes/__pycache__
gmail/__pycache__
processing/__pycache__
storage/webscrapehoc-f7ee5859ad23.json
storage/load_storage.py